# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Pyre type checker
.pyre/

temp/
*.pt
.pt
data/
data
.idea
.gitattributes
checkpoints
checkpoints/